<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ricknout.rugbyranker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:label="${appName}"
        android:icon="${appIcon}"
        android:roundIcon="${appIcon}"
        android:supportsRtl="true"
        android:theme="@style/RugbyRankerTheme"
        android:name=".RugbyRankerApplication"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".LauncherActivity"
            android:theme="@style/RugbyRankerTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity">
            <nav-graph android:value="@navigation/nav_graph_main" />
        </activity>

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${workManagerInitAuthorities}"
            android:enabled="false"
            android:exported="false"
            tools:replace="android:authorities" />

    </application>

</manifest>
