name: workflow

on:
  push:
    branches:
      - main

jobs:
  testing:
    name: Lint and unit test

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v1

      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Run ktlint
        run: ./gradlew ktlint

      - name: Run Android lint
        run: ./gradlew lintDebug

      - name: Run unit tests
        run: ./gradlew testDebugUnitTest
